{% extends 'base.html.twig' %}

{% block title %}New DriverPreferences{% endblock %}

{% block body %}
<h5 class="my-3">vos préférences de conducteur</h5>



    {{ include('front/driver_preferences/_form.html.twig') }}

{% endblock %}
