@use "../styles/variables" as *;
@use "bootstrap/scss/functions";
@use "bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success,
  $info: $info,
  $warning: $warning,
  $danger: $danger,
  $light: $light,
  $dark: $dark,
  $theme-colors: $theme-colors,
);