{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}
    <h5 class="my-3">Modifier les informations de ma voiture</h5>

    {{ include('vehicle/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
