{% extends 'base.html.twig' %}

{% block title %}New Vehicle{% endblock %}

{% block body %}
    <h5 class="my-3">Ajouter un vihécule</h5>

    {{ include('vehicle/_form.html.twig') }}

{% endblock %}
