<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Admin
			{% endblock %}
		</title>
{# base.html.twig #}
<link rel="stylesheet" href="{{ asset('build/app.css') }}">
 <script defer src="{{ asset('build/runtime.js') }}"></script>
 <script defer src="{{ asset('build/app.js') }}"></script>


		{% block stylesheets %}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

		{% block javascripts %}
		{% endblock %}
	</body>
</html>

